:root {
    --main-navy: #00204A;
    --main-white: white;
    --main-black: black;
    --main-skyblue: skyblue;
    --main-aqua: #00BBF0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #0c0c0c;
    background-color: #fff;
    overflow-x: hidden;
}


.home {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100vh;
    background-color: var(--main-navy);
    color: var(--main-white);
}

.home-section {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;

}

.frame1 {
    /* max-width: 50%; */
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.frame1 p {
    font-size: 16px;
    margin-bottom: 20px;
}

.frame1 h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}



.text {
    font-size: 120%;
    display: flex;
    justify-content: flex-start;
    /* background-color: yellow; */
    margin-top: 5px;
    padding-right: 1rem;

}

.frame1 h2 {
    text-align: left;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}

.homepara {
    text-align: left;
    width: auto;

}

.homebtn {
    /* background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 40%; */


    display: inline-block;
    padding: 15px 55px;
    background-color: #00bbf0;
    color: #fff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
    font-size: 15px;
}



.homebtn:hover {
    background-color: #0099cc;
}

.cryptimg {
    width: 70%;
    height: auto;
    /* background-color: green ; */
    height: auto;
    /* overflow: hidden; */
    width: 100%;
    animation: example 3s infinite;
}

.cryptimg img{
    width: 100%;
    }



.trading {

    border-radius: 4px;
    padding: 5px;
    width: 500px;
    margin-bottom: 50%;
    display: flex;
    justify-content: center;
    margin: 50%;
    margin-bottom: 3%;
    margin-top: 3%;
}



@keyframes example {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translate(0px);
    }
}


.tradingpara {
    /* text-align:center; */
    margin: auto;
    display: block;
    width: 50%;
    height: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;

}

.about-us .text{
    display:flex;
    justify-content: center;
    flex-direction: column;
}



.about h2 {
    font-size: 28px;
    text-align: center;
    padding-top: 50%;
    margin-top: 50%;
    margin-bottom: 1%;
}

.aboutpara {
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
}

.readbutton1 {
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;

}

.readbutton1:hover {
    background-color: #0099cc;
}


ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: right;
    list-style: none;
    background-color: var(--main-navy);
    color: var(--main-white);
    width: 80%;
    gap: 20px;
    margin-right: 1%;
    white-space: nowrap;
    padding: 1px;
   




}

a {
    color: var(--main-white);

}

a:link {
    text-decoration: none;
}



li {
    /* margin: 5px; */
    /* padding: 5px; */
    color: white;
    /* padding: 0px 0px 0px 0px; */
}



.servicepara {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
    width: 50%;
    margin-left: 25%;
    margin-right: 50%;
}

.services {
    display: block;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--main-white);
    color: var(--main-black);
}

.services h1 {
    font-size: xx-large;
    font-weight: bold;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.services h2 {
    text-align: center;
}

.service1,
.service2,
.service3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.serviceimg {
    border: 1px solid navy;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    box-shadow: 0 0 2px 1px black;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}


.about h2 {
    padding: 0;
    margin-top: 0;
    background-color: var(--main-navy);
    color: var(--main-white);
}

.about {
    background-color: var(--main-navy);
    color: var(--main-white);
    height: 80vh;
    width: 100%;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.why_us {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 200%;
    align-items: center;
    text-align: center;
    background-color: var(--main-white);
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.why_us p {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 50%;
}




.w1,
.w2,
.w3,
.w4 {
    border: 1px solid navy;
    border-radius: 70%;
    padding: 5px;
    width: 150px;
    box-shadow: 0 0 2px 1px black;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.services>p {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 70%;
}

.servicereadbtn {
    margin-left: 40%;
    margin-right: 50%;
    display: flex;
    justify-content: center;
    width: 25%;
    margin-top: 20px;
    border: 10px;

}

/* .viewbutton {
    margin: auto;
    display: block;
    width: 15%;
    margin-top: 30px;
    border: 10px;
    padding: 10px;
    margin-top: 30px;
    background-color: var(--main-aqua);
    color: var(--main-black);

} */

.reviews {
    margin: auto;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5%;
    padding: 20px;
    width: 100%;
    /* height: 50vh; */
    background-color: var(--main-white);

}


/* footer .info{
    display:flex;
    justify-content:center;
    flex-direction: column;
} */




footer {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 30vh;
    background-color: var(--main-navy);
    color: var(--main-white);
    
}

footer .copyright {
    text-align: center;
}

.links {
    display: block;
   
}

.links li{
    margin: 20%;
}



.team {
    background-color: var(--main-navy);
    color: var(--main-white);
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-columns: auto auto auto;
    padding: 2px 2px;
    justify-content: space-evenly;
    /* width: 99%; */
    height: 70vh;
}

.card {
    /* background-color: #192841; */
    align-items: center;
    /* padding: 35px 0 0 0; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #002759, #002b64);
    /* margin-top: 45px; */




    /* padding: 35px 0 0 0;
        border-radius: 5px;
        overflow: hidden;
        
        transition: all .1s;
        margin-top: 45px;
        width: 150%;
        background: linear-gradient(to bottom,#002759,#002b64); */

}






.container1,
.container2,
.container3,
.container4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.social-icons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    /* background-color: #00bfff;*/
}


.social-icons-footer{
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: row;
    width: 100%;
    /* background-color: #00bfff;*/
}

/* .social-icons {
    margin-top: 15px;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ffc107;
} */

h2 {
    text-transform: uppercase;
}

.member {


    padding: 5px;
    width: 150px;
    height: 150px;
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;


}

.afterhead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;

}

.aboutdiv1 {
    margin-left: 10%;

}

.aboutdiv2 {
    width: 70%;
    margin-left: 5%;

}

.teamhead {
    background-color: var(--main-navy);
    color: var(--main-white);
    margin: 0%;
    /* padding: 10px; */
    text-align: center;
    width: 100%;
    margin-bottom: 0%;

}

.customer1 {
    width: 50%;
    height: 50%;
    margin-right: 1%;

    background-color: #fff;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
    padding: 75px 25px 25px 25px;

}

.customer2 {
    width: 50%;
    height: 50%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
    padding: 75px 25px 25px 25px;

}

.reviewhead {
    text-align: center;
    margin-top: 10%;
    background-color: var(--main-white);
}

.testimonial-nav {
    margin: auto;
    display: flex;
    margin-bottom: 70px;
    justify-content: center;

}

.nav-arrow {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    padding: 10px 20px;
    cursor: pointer;
    width: 55px;
    height: 55px;
    outline: 0;
    bottom: 0;
    font-size: 24px;
    box-shadow: 0 0 1px 1px lightgrey;
    /* -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.25); */



    font-size: 18px;
}


.nav-arrow:hover {
    background-color: #008fbf;
}



/* service section */

.services-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}

.services-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.services-section .highlight {
    color: #00aaff;
}

.services-section p {
    color: #666;
    margin-bottom: 40px;
}

.services-container {
    display: flex;
    justify-content: space-around;
   
}

.service-box {
    background-color: #f8f8f9;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.service-box img {
    max-width: 100px;
    margin-bottom: 20px;
}

.service-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-box p {


    margin-bottom: 20px;
}

.service-box .read-more {
    background-color: #f8f8f9;
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

.viewbtn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px 12px;
    background-color: #00BBF0;
    color: #fff;
    text-decoration: none;
    
}

.viewbtn {
    align-items: center;
}

.subscribe form {
    display: flex;
    flex-direction: column;
}

.subscribe input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;

    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    width: 100%;
    height: 45px;
    color: #fff;
    outline: 0;

}

.subscribe button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00aaff;
    color: #fff;
    cursor: pointer;
    border-top: none;
}

.subscribe button:hover {
    background-color: #0088cc;
}

.highlight {
    color: #00bfff;
}

/* About sec */
.about-us {
    padding: 50px 0;
    background-color: var(--main-navy);
    color: var(--main-white);
}

.about-us .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.about-us h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.about-us .highlight {
    color: #00bfff;
}

.intro-text {
    font-size: 16px;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    flex: 1;
    padding: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.text {
    flex: 1;
    text-align: left;
}

.about_us h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.read-more {
    display: inline-block;
    padding: 10px 15px 10px;
    background-color: #00BBF0;
    color: white;
    text-decoration: none;
    width: 15%;
    transition: background-color 0.3s ease;
    border: 0;
    font-weight: normal;
    font-size: medium;
    text-align: center;
}

.read-more:hover {
    background-color: #008fbf;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    align-items: left;
    margin-left: 1px;
    padding-left: 20px;
    position:relative;

}

header {
    background-color: var(--main-navy);
    /* padding: 5px 0; */
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;
   
    

    /* padding-left: 10px; */



}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 50%;

}

header .navbar ul li a:hover {
    color: #007bff;
   
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-left:7%;
    padding: 0px 0px 0px 0px;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a .nav-link{
    padding: 0px 0px 0px 0px;
}